.caja-cuadrada{
    display: flex;
    width: 180px;
    height: 180px;
    background-image:url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fancy-best-trap-album-cover-design-template-61c1d25232ab02f25e5da5e0da40e965_screen.jpg?ts=1589589429");
    background-position: center;
    background-size: 180px;

    margin-right:15px;

    justify-content: center;
    align-items: center;

}

.beat-container h2{
    font-size: 15px;
    color:White;

    margin-top:10px;
    margin-bottom:0;
   
}

.beat-container h3{
    color:gray;

    margin-top:5px;
    font-size: 15px;
  
}

.verificado{
    width: 20px;
}

