
.navigationItems{
    
    position:absolute;
    justify-content: space-around;
}

nav{
    line-height: 20px;
    margin-top:10px;
    min-height: 20px;
    color:white;
    display:flex;
    justify-content: space-between;
    position:absolute;
    width:100%;
    
}

.logo{
    
    margin-left:5vw;
    
}

.logo img{
    width: 40px;
}

.navlinks{
    
    display:flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;

    align-items: center;
    width:60%;
    margin-right:2.5vw;
    z-index:5;

    padding:0;
    margin-bottom:0;

   
   
}

.navlinks a{
    text-decoration: none;
    color:White;
    font-size: 14px;
    margin-left:2px;
    margin-right:2px
   
}

.link a{
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    margin:5px;
}




