.container-master{
    display:grid;
    justify-items:center;
    justify-content: center;

    font-family: "Poppins";
    text-align: center;

    padding-top:120px;
    margin-right: 20px;
    margin-left:20px;
    
   
}
.container-master img{
    margin-bottom: 20px;
}
.container-master h2{
    color:White;
    font-weight: 600;

}
.container-master h3{
    color:white;
    font-size: 20px;

    margin-top:20px;
}
 .container-master a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(233, 59, 59);

    margin-top:40px;
} 
